/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/md-dark-indigo/theme.css";

html {
  background-color: var(--primary-color-text);
  color: var(--text-color);
}

body {
  margin: 0;
}
